kitty

polybar

light-locker

fastfetch

gnome-screenshot

gthumb

gnome-disk-utility

xdg-desktop-portal-gtk

xdg-user-dirs-gtk

tumbler

xorg

lxappearance-gtk3

xorg-apps

gvfs

vlc

jgmenu

flatpak

picom

leafpad

nitrogen

firefox

openbox

sxhkd

ark

rofi

dunst

noto-fonts-emoji

polkit-gnome

gnome-keyring

noto-fonts

noto-fonts-cjk

noto-fonts-emoji

ttf-jetbrains-mono-nerd

ttf-font-awesome

thunar

thunar-volman

pipewire

pipewire-alsa

pipewire-pulse

pavucontrol

wget

yad

lightdm

lightdm-webkit2-greeter

lightdm-webkit-theme-litarvan

accountsservice

obconf
