kitty

polybar

fish

fastfetch

gnome-screenshot

xdg-desktop-portal-gtk

xdg-user-dirs-gtk

tumbler

xorg

gpicview

lxappearance-gtk3

xorg-apps

gvfs

jgmenu

flatpak

picom

neovim

nitrogen

firefox

openbox

sxhkd

ark

rofi

noto-fonts-emoji

polkit-gnome

gnome-keyring

noto-fonts

noto-fonts-cjk

noto-fonts-emoji

ttf-jetbrains-mono-nerd

ttf-font-awesome

thunar

thunar-volman

pipewire

pipewire-alsa

pipewire-pulse

pavucontrol

wget

yad

lightdm

lightdm-webkit2-greeter

lightdm-webkit-theme-litarvan

accountsservice
