konsole

polybar

fish

neofetch

xdg-desktop-portal-lxqt

xdg-desktop-portal-gtk

flatpak

picom

neovim

nitrogen

firefox

openbox

plank

ark

rofi

noto-fonts-emoji

ttf-jetbrains-mono-nerd

ttf-font-awesome

xbindkeys

pulseaudio

thunar

pulseaudio-alsa

lightdm

lightdm-gtk-greeter
